<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is Weiwen Leung's first attempt at building a microblogging app similar to Twitter. It is largely based on Michael Hartl's <a href="http://www.railstutorial.org">Ruby on Rails Tutorial.</a>
</p>